<div class="row">
    <div class="col-sm-4">
        <img src="assets/image/2a.jpg" height="150">
          <h4>First Pic</h4>
      </div>
    <div class="col-sm-4">
      <img src="assets/image/2b.jpg" height="150">
      <h4>second Pic</h4>
    </div>
    <div class="col-sm-4">
      <img src="assets/image/2c.jpg" height="150">
      <h4>third Pic</h4>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
          <img src="assets/image/3a.jpg" height="150">
          <h4>First Pic</h4>
      </div>
      <div class="col-sm-4">
          <img src="assets/image/3b.jpg" height="150">
          <h4>second Pic</h4>
      </div>
      <div class="col-sm-4">
          <img src="assets/image/3c.jpg" height="150">
          <h4>third Pic</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
          <img src="assets/image/a.jpg" height="150">
          <h4>First Pic</h4>
      </div>
      <div class="col-sm-4">
          <img src="assets/image/b.jpg" height="150">
          <h4>second Pic</h4>
      </div>
      <div class="col-sm-4">
          <img src="assets/image/2a.jpg" height="150">
          <h4>third Pic</h4>
      </div>
    </div>